beautifulsoup4==4.13.4
faiss_cpu==1.11.0
langchain_experimental==0.3.4
langchain_huggingface==0.3.0
langchain_text_splitters==0.3.8
nltk==3.9.1
numpy==2.3.1
pydantic==2.11.7
pytest==8.4.1
rank_bm25==0.2.2
sentence_transformers==4.1.0
